body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-family: Arial, sans-serif;
}

.card {
  width: 300px;
  padding: 20px;
  background: linear-gradient(180deg, #3b2a1f, #000);
  color: white;
  text-align: center;
  border-radius: 10px;
}

h1 {
  margin: 0;
  font-size: 36px;
  letter-spacing: 2px;
}

.subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: #ddd;
}

.main-img {
  width: 100%;
  margin: 0;
  border-radius: 5px;
}

.desc {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.title-wrap {
  display: inline-block; /* ←これが重要 */
  text-align: center;
}

.title-wrap h2 {
  margin: 0;
  font-size: 16px;
}

.wave-line {
  display: block;
  width: 80%;
  height: 22px;
  margin: 3px auto 0;
}

.wave-line path {
  stroke: white;
  stroke-width: 1;
  fill: none;
}

.country {
  font-size: 1rem;
  margin: 20px 0;
  position: relative;
  margin-top: 1rem;
}

.country span {
  padding: 0 20px;
}

.country::before,
.country::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: white;
}

.country::before {
  left: 0;
}

.country::after {
  right: 0;
}

.locations {
  border: 1px solid white;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.locations span {
  font-size: 12px;
}

.locations a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
  transition: 0.2s;
}

.locations a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.locations a:active {
  transform: scale(0.95);
}